.galleryGrid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "highlight highlight"
        "sneaker-white sneaker-white"
        "model sneaker-color"
        "model sneaker-silver"
        "sneaker-purple sneaker-purple";
}

.galleryHighlight {
    grid-area: highlight;
}

.gallerySneakerPurple {
    grid-area: sneaker-purple;
}

.galleryModel {
    grid-area: model;
}

.gallerySneakerColor {
    grid-area: sneaker-color;
}

.gallerySneakerWhite {
    grid-area: sneaker-white;
}

.gallerySneakerSilver {
    grid-area: sneaker-silver;
}

@media (max-width: 767px) {
    .galleryGrid {
        gap: 10px;
    }

    .gallerySneakerWhite,
    .gallerySneakerPurple {
        max-height: 190px;
    }
}

@media (min-width: 768px) {
    .galleryGrid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 300px);
        grid-template-areas:
            "highlight highlight sneaker-purple sneaker-purple"
            "highlight highlight model sneaker-color"
            "sneaker-white sneaker-white model sneaker-silver";
    }
}